:root {
  --text-default: #706fd3;
  --cs-white: #ffffff;
  --cs-black: #000000;
  --cs-blue: #706fd3;
  --cs-header-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --cs-white-opacity: #ffffffb8;
  --cs-grey-text: #636363;
  --cs-green-bg-btn: linear-gradient(45deg, #28a745, #218838);
  --cs-grey-bg: #dfdfdf;
}

/* custom colors */

a {
  color: var(--text-default);
  text-decoration: none;
}

.custom-def {
  color: var(--text-default) !important;
}

/* header */

.nav-logo {
  width: 100%;
  max-height: 30px;
  padding: 3px;
}

header {
  box-shadow: var(--cs-header-shadow);
  position: sticky;
  top: 0;
  background-color: var(--cs-white);
  z-index: 10;
}

.navbar-brand h3 {
  font-family: cursive;
  font-weight: 500;
  color: var(--text-default);
}

/* auth pages */

.register-form .form-control:focus,
.login-form .form-control:focus {
  border-color: var(--cs-blue) !important;
}
/* ============================================ */

/* footer */
.footer-logo {
  max-height: 60px;
}
/* ============================================= */

/* home */
.home-cta {
  background-image: url(../public/assets/images/ground.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-cta-box {
  background-color: var(--cs-white-opacity);
}

/* ============================================== */

/* match center */
.match-center-breadcrumb {
  background-image: url(../public/assets/images/beach2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.match-list-main-wrapper .nav-link {
  color: var(--cs-black);
}

.breadcrumb-match-center-heading {
  font-size: 37px;
  font-weight: 700;
  color: var(--cs-white);
}

.match-list-main-wrapper .nav-tabs {
  /* border-bottom: none; */
  border-color: var(--cs-blue);
}
.match-list-main-wrapper .nav-tabs .nav-link {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--cs-blue);
}
.match-list-main-wrapper .nav-tabs .nav-link.active {
  /* border: none; */

  border-bottom: 4px solid var(--text-default);
  color: var(--text-default);
}

/* ============================================== */

/* match-card */
.match-card-team-logo {
  width: 50px;
  height: 40px;
  border-radius: 2px;
  object-fit: cover;
}

.match-card-wrapper {
  background-image: url(../public/assets/images/versus.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  scale: 1;
  transition: all 0.1s ease-in-out;
}

.match-card-wrapper:hover {
  scale: 1.01;
  box-shadow: 0 0px 13px var(--cs-blue);
}

.overs-matchcard {
  font-size: 14px;
}

.team-matchcard {
  font-weight: bold;
}

.match-card-live-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ================================================= */

/* match-details */
.match-summary-banner {
  /* background-image: url(../public/assets/images/vs.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  /* color: white; */
  background-color: var(--cs-white);
  border-radius: 30px;
}

.match-sum-banner-team-logo {
  width: 100%;
  border-radius: 10px;
  max-height: 70px;
  object-fit: contain;
}

.match-sum-heading {
  font-weight: bold;
  color: var(--text-default);
}

.match-page-main {
  background-image: url(../public/assets/images/ball-red.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.match-sum-vs-text {
  font-size: x-large;
}

.over-ball {
  padding: 0px 4px;
  border-radius: 3px;
  background-color: var(--cs-grey-bg);
  margin: 0px 3px;
}

.over-start {
  padding: 0 3px 0 2px;
  margin: 0 3px 0 0;
  border-right: 1px solid var(--cs-grey-bg);
}

.over-balls-wrapper {
  overflow: scroll;
  display: flex;
  justify-content: start;
  align-items: center;
}

.over-balls-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.score-tabs-nav .nav-link.active {
  border-bottom: 2px solid var(--cs-blue);
  color: var(--text-default);
  font-weight: 700;
}
.score-tabs-nav .nav-link {
  border-bottom: 1px solid var(--cs-grey-bg);
  color: var(--cs-grey-text);
}

.scorecard-headings {
  width: 30px;
  text-align: center;
}

.fall-wicket-detail p {
  margin-bottom: 0;
}

.fall-wicket-detail .fall-wicket-score {
  font-weight: 500;
}

.select-team-icon {
  font-size: 35px;
  /* background-color: white; */
  /* border: 1px dashed var(--cs-black); */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

/* .choose-team-heading {
  box-shadow: var(--cs-header-shadow);
} */

#startmatchCarousel .carousel-item {
  min-height: 100svh;
  overflow: hidden;
}

.search-team-input {
  border: none;
}
.search-team-input:focus {
  box-shadow: none !important;
}

.search-team-input-group .input-group-text {
  border: none;
  background: none;
}

.search-team-input-group {
  /* background-color: var(--cs-white); */
  /* background-color: red; */
  padding: 2px;
  border-radius: 30px;
  background: rgba(9, 16, 66, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--cs-white);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.search-team-input-group i {
  color: var(--cs-white);
}

.search-team-input-group input,
.search-team-input-group input:focus {
  border-radius: 30px;
  background-color: transparent;
  color: var(--cs-white);
}

.search-team-input-group input::placeholder {
  color: var(--cs-white-opacity);
}

.search-team .spinner-border {
  border-color: var(--cs-white);
  border-right-color: transparent;
}

.searched-team-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.searched-team-item {
  /* border: 1px solid var(--cs-blue); */
  margin: 5px 0;
  display: block;
  height: 100%;
  background: rgba(9, 16, 66, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  scale: 1;
}

.searched-team-item:hover {
  scale: 1.01;
  background: rgba(41, 48, 106, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.2s all ease-in-out;
}

.searched-team-item p {
  color: var(--cs-white);
  font-weight: 600;
}

.select-team-main {
  position: relative;
  height: 100vh;
  overflow: auto;
  /* background-color: red; */
  background-image: url(../public/assets/images/stadium-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-team-wrapper {
  position: relative;
}

.sticky-head-select-team {
  position: sticky;
  top: 0;

  z-index: 1;
}

.add-new-team-modal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.add-new-team-btn {
  background: var(--cs-green-bg-btn);
  border: none;
  color: white;
  /* font-size: 16px; */
  font-weight: bold;
  /* padding: 12px 24px; */
  /* border-radius: 30px; */
  /* cursor: pointer; */
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 8px; */
}

.add-new-team-btn i {
  /* font-size: 18px; */
  font-weight: bold;
}

.add-new-team-btn:hover {
  background: linear-gradient(45deg, #218838, #1e7e34);
  transform: scale(1.05);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  color: white;
}

.add-new-team-btn:active {
  transform: scale(0.98);
}

.add-new-team-main {
  width: 100%;
  height: 100vh;
  background: url("../public/assets/images/stadium-bg.webp") no-repeat center
    center;
  background-size: cover;
}

/* Center the form */
.add-new-team-inner {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: rgba(9, 16, 66, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--cs-white);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

  color: white;
}

.create-team-form input.form-input-add-new-team {
  background: rgb(0 0 0 / 44%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

.create-team-form .form-floating label {
  color: white !important;
}

.create-team-form .form-floating label::after {
  /* color: white !important; */
  background-color: transparent !important;
}

.sticky-add-new-team-head .back-btn i {
  color: white;
}

/* Remove background on mobile */
@media (max-width: 768px) {
  .add-new-team-main {
    /* background: none; */
    /* height: auto; */
    padding: 20px;
  }
  .add-new-team-inner {
    max-width: 100%;
    box-shadow: none;
  }
}

/* ================================================= */

/* ====================================================== */
/* ======== MOBILE CSS ================================== */
/* ====================================================== */

@media (max-width: 576px) {
  .match-sum-heading {
    font-size: 15px;
  }

  .scorecard-batter-div p {
    font-size: 14px;
  }
  .scorecard-batter-div small {
    font-size: 10px;
  }

  .fall-of-wickets {
    font-size: 13px;
  }

  .match-summary-banner {
    border-radius: 0px;
  }

  .match-sum-score {
    font-size: 16px;
  }

  .match-sum-overs {
    font-size: 14px;
  }

  .match-sum-banner-team-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .over-ball {
    padding: 0px 4px;
    border-radius: 3px;
    background-color: var(--cs-grey-bg);
    margin: 0px 3px;
  }

  .over-start {
    padding: 0 3px 0 2px;
    margin: 0 3px 0 0;
    border-right: 1px solid var(--cs-grey-bg);
  }

  .over-balls-wrapper {
    overflow: scroll;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .over-balls-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .current-players-main {
    font-size: 11px;
  }
  .score-tabs-nav .nav-link.active {
    border-bottom: 2px solid var(--cs-blue);
    color: var(--text-default);
  }
  .score-tabs-nav .nav-link {
    border-bottom: 1px solid var(--cs-grey-bg);
    color: var(--cs-grey-text);
  }

  .batter-row {
    font-size: 13px;
  }
} /* ====================================================== */
/* ====================================================== */
/* ====================================================== */

/* DESKTOP CSS */

.choose-team-main {
  height: 100vh;
  background-image: url(../public/assets/images/stadium-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.choose-team-wrapper {
  border-radius: 20px;
  /* background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  color: var(--cs-white);
}

/* .choose-team-heading {
} */

@media (min-width: 768px) {
}

/* ======================================================= */
