:root {
  --text-default: #706fd3;
  --cs-white: #ffffff;
  --cs-black: #000000;
  --cs-blue: #706fd3;
  --cs-header-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --cs-white-opacity: #ffffffb8;
  --cs-grey-text: #636363;

  --cs-grey-bg: #dfdfdf;
}

/* custom colors */

a {
  color: var(--text-default);
  text-decoration: none;
}

.custom-def {
  color: var(--text-default) !important;
}

/* header */

.nav-logo {
  width: 100%;
  max-height: 30px;
  padding: 3px;
}

header {
  box-shadow: var(--cs-header-shadow);
  position: sticky;
  top: 0;
  background-color: var(--cs-white);
  z-index: 10;
}

.navbar-brand h3 {
  font-family: cursive;
  font-weight: 500;
  color: var(--text-default);
}

/* auth pages */

.register-form .form-control:focus,
.login-form .form-control:focus {
  border-color: var(--cs-blue) !important;
}
/* ============================================ */

/* footer */
.footer-logo {
  max-height: 60px;
}
/* ============================================= */

/* home */
.home-cta {
  background-image: url(../public/assets/images/ground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-cta-box {
  background-color: var(--cs-white-opacity);
}

/* ============================================== */

/* match center */
.match-center-breadcrumb {
  background-image: url(../public/assets/images/beach2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.match-list-main-wrapper .nav-link {
  color: var(--cs-black);
}

.breadcrumb-match-center-heading {
  font-size: 37px;
  font-weight: 700;
  color: var(--cs-white);
}

.match-list-main-wrapper .nav-tabs {
  /* border-bottom: none; */
  border-color: var(--cs-blue);
}
.match-list-main-wrapper .nav-tabs .nav-link {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--cs-blue);
}
.match-list-main-wrapper .nav-tabs .nav-link.active {
  /* border: none; */

  border-bottom: 4px solid var(--text-default);
  color: var(--text-default);
}

.match-list-tabs .tab-pane {
  /* border: 2px solid var(--cs-blue); */
  /* border-top: none; */
  /* border-radius: 0 0 5px 5px; */
}

/* ============================================== */

/* match-card */
.match-card-team-logo {
  width: 50px;
  height: 40px;
  border-radius: 2px;
  object-fit: cover;
}

.match-card-wrapper {
  background-image: url(../public/assets/images/versus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  scale: 1;
  transition: all 0.1s ease-in-out;
}

.match-card-wrapper:hover {
  scale: 1.01;
  box-shadow: 0 0px 13px var(--cs-blue);
}

.overs-matchcard {
  font-size: 14px;
}

.team-matchcard {
  font-weight: bold;
}

.match-card-live-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ================================================= */

/* match-details */
.match-summary-banner {
  /* background-image: url(../public/assets/images/vs.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  /* color: white; */
  background-color: var(--cs-white);
  border-radius: 30px;
}

.match-sum-banner-team-logo {
  width: 100%;
  border-radius: 10px;
  max-height: 70px;
  object-fit: contain;
}

.match-sum-heading {
  font-weight: bold;
  color: var(--text-default);
}

.match-page-main {
  background-image: url(../public/assets/images/ball-red.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.match-sum-vs-text {
  font-size: x-large;
}

.over-ball {
  padding: 0px 4px;
  border-radius: 3px;
  background-color: var(--cs-grey-bg);
  margin: 0px 3px;
}

.over-start {
  padding: 0 3px 0 2px;
  margin: 0 3px 0 0;
  border-right: 1px solid var(--cs-grey-bg);
}

.over-balls-wrapper {
  overflow: scroll;
  display: flex;
  justify-content: start;
  align-items: center;
}

.over-balls-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.score-tabs-nav .nav-link.active {
  border-bottom: 2px solid var(--cs-blue);
  color: var(--text-default);
  font-weight: 700;
}
.score-tabs-nav .nav-link {
  border-bottom: 1px solid var(--cs-grey-bg);
  color: var(--cs-grey-text);
}

.scorecard-headings {
  width: 30px;
  text-align: center;
}

.fall-wicket-detail p {
  margin-bottom: 0;
}

.fall-wicket-detail .fall-wicket-score {
  font-weight: 500;
}

/* ================================================= */

/* ====================================================== */
/* ======== MOBILE CSS ================================== */
/* ====================================================== */

@media (max-width: 576px) {
  .match-sum-heading {
    font-size: 15px;
  }

  .scorecard-batter-div p {
    font-size: 14px;
  }
  .scorecard-batter-div small {
    font-size: 10px;
  }

  .fall-of-wickets {
    font-size: 13px;
  }

  .match-summary-banner {
    border-radius: 0px;
  }

  .match-sum-score {
    font-size: 16px;
  }

  .match-sum-overs {
    font-size: 14px;
  }

  .match-sum-banner-team-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .over-ball {
    padding: 0px 4px;
    border-radius: 3px;
    background-color: var(--cs-grey-bg);
    margin: 0px 3px;
  }

  .over-start {
    padding: 0 3px 0 2px;
    margin: 0 3px 0 0;
    border-right: 1px solid var(--cs-grey-bg);
  }

  .over-balls-wrapper {
    overflow: scroll;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .over-balls-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .current-players-main {
    font-size: 11px;
  }
  .score-tabs-nav .nav-link.active {
    border-bottom: 2px solid var(--cs-blue);
    color: var(--text-default);
  }
  .score-tabs-nav .nav-link {
    border-bottom: 1px solid var(--cs-grey-bg);
    color: var(--cs-grey-text);
  }

  .batter-row {
    font-size: 13px;
  }
} /* ====================================================== */
/* ====================================================== */
/* ====================================================== */
