.nav-logo {
  width: 100%;
  max-height: 30px;
  padding: 3px;
}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
}

.navbar-brand h3{
  font-family: cursive;
  font-weight: 500;
  color: #bc2d2d;
}